<div class="row">
    <div class="col-sm-8">
        <div ng-controller="post" ng-if="post.length==0">
        <img class="img-responsive center-block" ng-src="img/loading.svg">
        </div>
        <div  ng-controller="post" ng-if="post.length!=0">
                <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="media">
                            <div class="media-left">
                                <a href="#/{{x.author}}"><img ng-src="http://img.busy.org/@{{author}}" class="media-object img-thumbnail img-circle photo  img-responsive"></a>                    
                            </div>
                            <div class="media-body">
                                <a href="#/{{x.author}}"><h4 class="media-heading">{{author}}</h4></a>
                              <p class="text-muted"><span class="glyphicon glyphicon-paperclip"></span>  {{post.category}}</p>
                              <hr>
                            </div>
                          </div>
                          <div class="text" marked="post.body"></div> 
                          <p class="text-left">{{post.created}}</p>
                          <br>
                          <div class="addthis_inline_share_toolbox_m4rb "></div>
                        </div>
                      </div> 
                </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-581c0e97dbc5a8bb"></script>


